.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem 0;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.header__nav-link{
    margin: 0.2rem 1rem;
    color: var(--black-color);
    font-weight: bolder;
    font-size: 1.1rem;
    transition: .3s;
}

.header__nav-link:hover{
    color: var(--secondary-color);
}

.header__nav-link.active{
    color: var(--secondary-color);
}

.mobile__nav-container{
    display: none;
}

.close__toggle-btn{
    display: none;
}


@media screen and (max-width: 650px){
    .header__nav-container{
        display: none;
    }


    .mobile__nav-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 95%;
        width: 90%;
        padding: 1rem;
        font-family: "Poppins", sans-serif;
        background: var(--white-color);
        z-index: 50;
    }

    .mobile__navbar-search{
        border: dotted 1px var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.3rem;
        width: 15rem;
        padding: 0 .2rem;
    }

    .mobile__navbar-search input{
        margin-right: .5rem;
        height: 90%;
        width: 100%;
        outline: none;
        border: none;
        font-size: var(--small-text);
    }

    .mobile__nav-links{
        display: flex;
        flex-direction: column;
    }

    .mobile__header__nav-link{
        color: var(--black-color);
        font-size: var(--small-text);
        margin: .4rem;
        padding: .3rem;
        transition: .3s;
    }

    .mobile__header__nav-link:hover{
        color: var(--secondary-color);
    }

    .mobile__navbar_action-btns{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: var(--small-text);
        color: var(--primary-color);
        margin: 0 .5rem;
    }

    .mobile__navbar_action-btns a{
        color: var(--primary-color);
        transition: .3s;
    }

    .mobile__navbar_action-btns a:hover{
        color: var(--secondary-color);
    }

    .mobile__navbar-socials .navbar__socials-icon{
        font-size: var(--small-text);
        color: var(--secondary-color);
        transition: .3s;
    }

    .mobile__navbar-socials .navbar__socials-icon:hover{
        color: var(--primary-color);
    }

    .close__toggle-btn{
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: var(--secondary-color);
    }

    .close__toggle-btn .navbar__socials-icon{
        font-size: 2rem;
        color: var(--secondary-color);
        transition: .3s;
    }
}



@media screen and (max-width: 350px){
    .mobile__navbar-search{
        position: relative;
        top: 2rem;
    }

    .close__toggle-btn{
        top: .5rem;
        right: 1rem;
    }
}