.trendingNews{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--bg-color);
}

.trendingNews__container{
    border-top: .4rem solid var(--tartiary-color);
}

.trendingNews__heading{
    font-size: var(--small-hero-title);
    font-family: "Teko", sans-serif;
    font-weight: 400;
}


.trendingNews__posts{
    display: flex;
    flex-wrap: wrap;
}

.trendingNews__card{
    flex: 1;
    margin: .5rem;
    min-width: 10rem;
}

.trendingNews__card-image{
    width: 100%;
    overflow: hidden;
}

.trendingNews__card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

.trendingNews__card:hover .trendingNews__card-image img{
    transform: scale(1.1);
}

.trendingNews__card-cartegory{
    color: var(--tartiary-color);
    font-size: var(--smallest-text);
    font-family: "Poppins", sans-serif;
}

.trendingNews__card-title{
    font-size: var(--smaller-text);
}

.trendingNews__card-date{
    font-size: var(--smallest-text);
}



@media screen and (max-width: 350px){
    .trendingNews__card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .6rem;
        padding: 1rem 0;
    }

    .trendingNews__card-cartegory{
        font-size: .5rem;
    }

    .trendingNews__card-title{
        font-size: .7rem;
    }

    .trendingNews__card-image{
        height: 80%;
        width: 20rem;
    }
}